<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Movie List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f8f9fa;
        }
        label.error {
            font-size:15px;
            color: red;
            padding: 2px 8px;
            margin-top: 2px;
	 }
    </style>
</head>
<body>
<section class="middle search">
    <div class="container">
        <div class="row justify-content-center">
            <div class="card">
                <div class="card-header">Movie List</div>
                <div class="card-body">
                    <div th:switch="${movies}" class="container my-5">
                        <div class="row">
                            <div class="col">
                                <!-- Button trigger modal -->
                                <!--<a th:href="@{/Movie}" class="btn btn-primary btn-sm mb-3"> Add Movie </a>-->
                                <button class="btn btn-primary btn-block mb-3" data-toggle="modal" data-target="#myModal">Add Movie</button>
                            </div>
                            <div class="col">
                                <a th:href="@{/}"><button class="btn btn-primary btn-block mb-3">Show Actors</button></a>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table id="userTable" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Movie ID</th>
                                    <th>Movie Title</th>
                                    <th>Release Date</th>
                                    <th>Genre</th>
                                    <th>Actors</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody id="movie-data">
                                    <h2 id="movie-count"></h2>
                                    <!--<h2 th:case="null">No Movies yet!</h2>
                                    <div th:case="*">
                                        &lt;!&ndash; Additional rows can be added dynamically &ndash;&gt;
                                        <tr th:each="Movie : ${Movies}">
                                            <td th:text="${Movie.id}"></td>
                                            <td th:text="${Movie.title}"></td>
                                            <td th:text="${Movie.releaseDate}"></td>
                                            <td th:text="${Movie.genre}"></td>
                                            <td>
                                                <a th:href="@{/Movie/edit/{id}(id=${Movie.id})}">Edit</a>
                                                <a th:href="@{/Movie/delete/{id}(id=${Movie.id})}" onclick="return confirm('Are you sure you want to delete this Movie?')">Delete</a>
                                            </td>
                                        </tr>
                                    </div>-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Movie</h4>
                <span style="color:red" th:text="${error}"></span>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">

                <form id="movieForm" autocomplete="off">
                    <input type="number" id="id" hidden="hidden" />
                     <div class="form-group">
                        <label class="control-label" for="title">Movie Title</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Enter title">
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="releaseDate">Movie ReleaseDate</label>
                        <input type="date" class="form-control" id="releaseDate" name="releaseDate" autocomplete="off">
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="genre">Genre:</label>
                        <select class="form-control" id="genre" name="genre">
                            <option value="">Select Genre</option>
                            <option value="action">Action</option>
                            <option value="comedy">Comedy</option>
                            <option value="drama">Drama</option>
                            <option value="horror">Horror</option>
                            <!-- Add more genres as needed -->
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="actors">Actors</label>
                        <select class="form-control chosen-select" id="actors" name="actors" multiple>
                            <!-- Options will be populated dynamically via JavaScript -->

                            <!--<option value=""></option>
                            <option value="actor1">Actor 1</option>
                            <option value="actor2">Actor 2</option>
                            <option value="actor3">Actor 3</option>
                            <option value="actor4">Actor 4</option>-->
                            <!-- Add more actors as needed -->
                        </select>
                        <span id="actors-error" class="invalid-feedback"></span>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                        <button type="submit" onclick="addMovieHandler(event)" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/additional-methods.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!--For choose Select opetions-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>

<script th:src="@{/js/mapping.js}"></script>
<script th:src="@{/js/ajax-call.js}"></script>
<script>

    $('#actors').chosen({ width: '200px' });

    fetchActorOptions();

    // Function to fetch actor options from the database
    function fetchActorOptions() {
        $.get("/api/v1/actors", function (data) {
            $("#actors").empty();
            data.forEach(function (actor) {
            console.log(actor.userName);
                $("#actors").append(`<option value="${actor.id}">${actor.userName}</option>`);
            });
            $("#actors").trigger('chosen:updated');
        });
    }

    var movies;  // For take ajax response

    $.ajax({
           method: 'GET',
           url: '/api/v1/movies',
           success: function (response) {
               movies = response.data;
               console.log(response);
               populateMoviesAtDom(response)
           }
    })

   function populateMoviesAtDom(movies = []) {

       const actorElementCountTag = document.getElementById("movie-count");
       actorElementCountTag.innerHTML = movies ? 'Total Movies: ' + movies.length : "No Movies Yet!";

       const actorElementDataDivTag = document.getElementById("movie-data");

       movies.forEach(({genre, releaseDate, id, title, actors}) => {
           actorElementDataDivTag.innerHTML+=`
               <tr>
                   <td >${id}</td>
                   <td >${title}</td>
                   <td >${releaseDate}</td>
                   <td >${genre}</td>
                   <td>
                     ${actors.length > 0 ? actors.map(actor => actor.userName).join(",") : "No Actors"}
                    </td>
                   <td>
                       <button data-toggle="modal" data-target="#myModal" onclick="editMovie(${id})">Edit</button>
                       <button onclick="deleteMovieById(${id})">Delete</button>
                   </td>
               </tr>`;
       })
   }

   function addMovieHandler(event) {
           event.preventDefault();
           var IsValid = $("#movieForm").valid();

           if(IsValid)
           {
               var ajaxResponse;
               var movie = {
                   id: document.getElementById("id").value,
                   title: document.getElementById("title").value,
                   genre: document.getElementById("genre").value,
                   releaseDate: document.getElementById("releaseDate").value,
                   actors: $('#actors').val(),
               };

               console.log(movie.actors);  // Print actors object that map with the movie



               if (movie.id === "") {
                  $.ajax({
                      async: false,
                      type: "POST",
                      contentType: "application/json",
                      dataType: "json",
                      url: "api/v1/movies",
                      data: JSON.stringify(movie),
                      success: (successResponse) => {
                          ajaxResponse = successResponse;
                          window.location.reload();
                      },
                      error: (errorResponse) => {
                          console.log(errorResponse.responseText);
                      },
                  });
              } else {
                  $.ajax({
                      async: false,
                      type: "PUT",
                      contentType: "application/json",
                      dataType: "json",
                      url: "/api/v1/movies/" + movie.id,
                      data: JSON.stringify(movie),
                      success: ({resultStatus}) => {

                          console.log(resultStatus);
                      },
                      error: (errorResponse) => {
                          console.log(errorResponse.responseText);
                      },
                  });
              }
           }
       }

    function removeMovieFromDom(id) {
        const movieToRemove = document.getElementById("movie_id_" + id);
        console.log(movieToRemove)
        if (movieToRemove != null) {
            movieToRemove.remove();
        }
    }

<!--    function getActorById(id){-->
<!--        $.ajax-->
<!--            ({-->
<!--                async: false,-->
<!--                type: "GET",-->
<!--                contentType: "application/json",-->
<!--                dataType: "json",-->
<!--                url: "/api/v1/actors/" + id,-->
<!--                success: (successResponse) =>-->
<!--                {-->
<!--                        console.log(successResponse.gender);-->
<!--                        document.getElementById("form-title").innerHTML = "Edit Actor";-->
<!--                        $('#id').val(successResponse.id);-->
<!--                        $('#userName').val(successResponse.userName);-->
<!--                        if(successResponse.gender === "Male")-->
<!--                        {-->
<!--                            document.getElementById("genderMale").checked = true;-->
<!--                        }-->
<!--                        else-->
<!--                        {-->
<!--                            document.getElementById("genderFemale").checked = true;-->
<!--                        }-->
<!--                        $('#gender').val(successResponse.gender);-->
<!--                        $('#dateOfBirth').val(successResponse.dateOfBirth);-->
<!--                        $('#phoneNumber').val(successResponse.phoneNumber);-->
<!--                        $('#biography').val(successResponse.biography);-->

<!--                },-->
<!--                error: (errorResponse) => {-->
<!--                    console.log("something bad happended!");-->
<!--                },-->
<!--            });-->
<!--    }-->

    function editMovie(id) {
        $.ajax
            ({
                async: false,
                type: "GET",
                contentType: "application/json",
                dataType: "json",
                url: "/api/v1/movies/" + id,
                success: (successResponse) =>
                {
                    $('#id').val(successResponse.id);
                    $('#title').val(successResponse.title);
                    $('#genre').val(successResponse.genre);
                    $('#releaseDate').val(successResponse.releaseDate);
                    $('#actors').val(successResponse.actors);
                    console.log("done");
                },
                error: (errorResponse) => {
                    console.log("something bad happended!");
                },
            });
    }

    function deleteMovieById(id) {
        $.ajax(
            {
                async: false,
                type: "DELETE",
                contentType: "application/json",
                dataType: "json",
                url: "/api/v1/movies/" + id,
                success: ({resultStatus}) => {
                    console.log(resultStatus)
                    if (resultStatus.status === "SUCCESS") {
                        removeMovieFromDom(id);
                        alert("Movie deleted successfully")
                    } else {
                        alert(resultStatus.errorMessage);
                    }
                },
                error: (errorResponse) => {
                    alert("something bad happended!");
                },
            }
        )

    }

</script>
</body>
</html>